.hero{
    background-color: #ff008d;
    height: 700px;
    width: 100vw;
    font-family: 'Space Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.hero h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 8rem;
    /* font-size: 8vw; */
}

.hero *{
    padding: 1rem 0 1rem 0;
}

.hero h3{
    font-size: 3rem;
}

.hero h5{
    font-size: 1.5rem;
    text-align: center;
}

.hero h4{
    padding-top: 0rem;
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 945px){

    .hero h1{
        font-size: 6rem;
    }
    .hero h3{
        font-size: 2rem;
    }
    .hero h4{
        font-size: 1rem;
    }
    .hero h5{
        font-size: 1rem;
    }
}

@media (max-width: 700px) {

    .hero h1 {
        font-size: 4rem;
    }

    .hero h3 {
        font-size: 1rem;
    }

    .hero h4 {
        font-size: 0.8rem;
    }

    .hero h5 {
        font-size: 0.8rem;
    }
}

@media (max-width: 460px) {

    .hero{
        height: 700px;
    }

    .hero h1 {
        font-size: 3rem;
    }

    .hero h3 {
        font-size: 1rem;
    }

    .hero h4 {
        font-size: 0.6rem;
    }

    .hero h5 {
        font-size: 0.6rem;
    }
}

@media (max-width: 360px) {

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero h3 {
        font-size: 0.8rem;
    }

    .hero h4 {
        font-size: 0.4rem;
    }

    .hero h5 {
        font-size: 0.5rem;
        word-wrap: break-word;
    }
}