.cards{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Space Mono', monospace;
}



.card{
    margin: 2rem;
    width: 20rem;
    height: 27rem;
    /* new */
    background-image: linear-gradient(163deg, #ff008d 0%, #3700ff 100%);
    /* border-radius: 20px; */
    transition: all .3s;
    
}

.card .card2{
    /* margin: 2rem; */

    width: 20rem;
    height: 27rem;
    background-color: #151515;
    transition: all .2s;
}

.card2:hover {
    transform: scale(0.98);
    /* border-radius: 20px; */
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}


.card h3{
    font-size: 20pt;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card .txt p{
    
    font-weight: 800;
    color: #ff008d;
}

.card h5{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: justify;
}

.content{
    padding: 2rem;
}

.thumbnail{

}

.txt{

}

.btnbox{
    margin-top: 1rem;
}

.btn{
    margin-top: 300px;
    background-color: #fff;
    padding: 5px 20px;
    color: #000;
    transition-duration: 0.5s;
}

.btn:hover{
    background-color: #ff008d;
}